<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @reservation.firstname %>
</p>

<p>
  <strong>Last:</strong>
  <%= @reservation.last %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>
<p>
  <strong>Service:</strong>
  <%= @reservation.service_id%>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
